*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color:rgb(15,116,15);
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    box-shadow: 0px 0px 10px 10px white;
    border-radius: 1rem;
}
#otp{
    height: 15vh;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    color: #f1c40f;
    letter-spacing: .1rem;
}
.fa-lock{
    font-size: 5rem;
    color:aquamarine;
}
#otp span{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid aquamarine;
    border-radius: 100%;
    border-top-color:#f1c40f ;
    animation: anim 1s linear infinite;
}
@keyframes anim {
    100%{
        transform: rotate(360deg);
    }  
}
button{
    width: 8rem;
    margin:1rem 1.8rem;
    padding: .3rem .5rem;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 1rem;
}
button:hover{
    transform: scale(1.1);
}
input{
    width: 12rem;
    padding: .3rem .5rem;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 1rem;
    margin-top: 1rem;
    color: black;
}



